* {
  margin: 0;
}
.app {
  display: grid;
  place-items: center;
  background-color: #d9dbd4;
  height: 100vh;
}
.app__body {
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: white;
}
